nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
}



body > header {
  padding: 0 0.5rem .75rem 0.5rem;
}

body {
  display: grid;

  grid-template-columns: 10% 80% 10%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

footer > div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0px;
}
/*make footer links nice*/
footer > div > div >  a, footer > div > div > a:visited {
    color: orange;
}
.footer_article {
    border-width: 0;
    margin: 10px;
    padding: 10px;
}
.form-control {
  width: 50%;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 100, 'opsz' 100;


}
.material-symbols-outlined:hover {
  color: aqua;
  font-size: x-large;
}