<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    /*$( function() {
        var form, dialog;
    dialog = $( "#dialog" ).dialog({
        buttons: {
            "Create Event": function () {
                dialog.dialog("close");
            },
            Cancel: function () {
                dialog.dialog("close");
            }
        },
    close: function() {
        //form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }});
    form = dialog.find( "#dialog-form" ).on( "submit", function( event ) {
      event.preventDefault();
      //addUser();
    });
    });*/
</script>
<script>

</script>