<div id="dialog-form" title="Create new Event">
    <p class="validateTips">Please enter event information</p>
    <form>
        <div >
            Name of Event: <input  autofocus type="text" name="name" placeholder="Name Of Event" required>
        </div>
        <div >
            Start Day: <input  type="date" name="start_date" value="2022-12-11" required>
        </div>
        <div >
            End Day: <input  type="date" name="end_date" value="2022-12-11" required>
        </div>
        <div >
            Start Time: <input type="time" name="start_time" value="12:00:00" required>
        </div>
        <div >
            End Time: <input type="time" name="end_time" value="12:00:00" required>
        </div>
        <input type="submit" >
    </form>
</div>