{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Calendara{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'CalShare/simple.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'CalShare/uaa490styles.css' %}" >

        <!--------for JQuery UI--------------------->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        </link rel="stylesheet" href="/resources/demos/style.css">



    </head>
    <body>
        <header>
            <h1>Calendara</h1>
            <nav>
                <span>
                    {% if user.is_authenticated %}
                        <a href="{% url 'explore' %}">Explore</a>
                        <a href="#">Categories</a>
                        <a href="#">Create new calendar</a>
                        <a href="#">My Calendars</a>
                    {% else %}
                        <a href="{% url 'explore' %}">Explore</a>
                        <a href="#">Categories</a>
                    {% endif %}
                </span>
                <span>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Log Out</a>
                        <a style="border-width: 0px " href = "{% url 'profile' user.id %}"><img style="border-radius: 50%" src="../media/{{ user.image }}" width= 50px height= 50px alt="profile page"></a>

                    {% else %}
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
            <form action="#" style="text-align: left">
                    <input class="search" type="text" name="q" placeholder="Search Calendara" id="q">
            </form>
        </header>
        <main>

            {% block main %}
            {% endblock %}
        </main>

    </body>
    <footer>
        <div>
        <div>
                <a href="https://github.com/KeithAverre/Calandara">
            <i>Project Github</i></a>
            <br>&copy; Keith Averre, 2022
        </div>
        <div>
                <div id="dialog" title="Event Creation">
                    <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>
                </div>
        </div>
        <div>
                <a href="{% url 'contact_us' %}">Contact us</a>

        </div>
    </div>
</footer>

    {% include "CalShare/calendar_scripts.html" %}
    {% include "CalShare/dialog_scripts.html" %}
</html>